@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&family=Protest+Revolution&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.home-title {
    color: black;
    text-align: center;
    font-family: "Protest Revolution", sans-serif, Helvetica;
    font-size: 2em;
    margin-top: 10px;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1 {
    text-align: center;
    font-family: "Protest Revolution";
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: antiquewhite;
}

body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
}

header {
    background-color: brown;
}

nav a:hover {
    background-color: black;
    color: antiquewhite;
}

.book {
    background-color: brown;
    color: antiquewhite;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join {
    background-color: brown;
    color: antiquewhite;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: black;
    color: antiquewhite;
}

.join:hover {
    background-color: black;
    color: antiquewhite;
}

.msg {
    background-color: brown;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: brown;
    color: antiquewhite;
}

footer a {
    color: antiquewhite;
    text-decoration: none;
}

footer a:hover {
    color: antiquewhite;
}

h4 {
    color: black;
    text-align: center;
}

.msg h2 {
    color: antiquewhite;
}

.msg p {
    color: antiquewhite;
    font-size: .8em;
    padding-bottom: 15px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

.rivers-cards {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}