@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.home-title {
    color: black;
    text-align: center;
    font-family: "Oswald", sans-serif, Helvetica;
    font-size: 2em;
    margin-top: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: black;
    color: whitesmoke;
}

header {
    background-color: #2596be;
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#brain_activity {
    width: 100%;
}

h2 {
    margin: 0;
}

h4 {
    text-align: center;
}

body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif, Helvetica;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.brain {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.sport {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.concussion {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.more-brain {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.pic-img {
    border: 10px solid black;
    transition: .5s;
    box-shadow: 5px 5px 10px #6f7364;
} 

#background {
    height: 725px;
    background-color: whitesmoke;
    grid-column: 1/11;
    grid-row: 4/9;
}

.more-info h2 { 
    color: whitesmoke;
}

.more-info p {
    color: whitesmoke;
    font-size: .8em;
    padding-bottom: 15px;
}

.more-info {
    background-color: black;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

footer {
    background-color: #2596be;
    color: whitesmoke;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
}

footer a:hover {
    color: whitesmoke;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
    background-color: black;
    color: #3ad5d1;
}

footer .social img {
    padding-top: 15px;
}

