@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&family=Protest+Revolution&display=swap');

body {
    background-color: bisque;
    font-family: "Noto Sans JP", 'Brandley Hand', sans-serif;
}
#content {
    max-width: 1400px;
    margin: 0 auto;
    background-color: blanchedalmond;
}
/* This is targeting a class in html */
nav {
    display: flex;
    justify-content: center;
    background-color: tan;
}
.nav_link {
    padding: 10px;
    color:brown;
    font-size: 1.1em;
}

img {
    width: 60%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid black;
    box-shadow: 15px 15px 20px gray;
    transition: transform .5s;
}

img.hover {
    opacity: .6;
    transform: scale(1.1);
}

a {
    color: gray;
    font-family: "Protest Riot", 'Brandley Hand', sans-serif;
}
nav a:hover {
    color: blanchedalmond;
    background-color: brown;
}
#main_title {
    font-size: 3em;
    text-align: center;
    font-family: "Noto Sans JP";
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 40px;
    border: 5px solid black;
    border-top: none;
}

p {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 50px 100px 0 50px;
    background-color: bisque;
    border: 5px solid black;
    color: black;
    box-sizing: border-box;
    border-radius: 30px;
}
#sub_title {
    color:blanchedalmond;
}
footer {
    background-color: tan;
    padding: 20px;
}
footer a {
    color: black;
}

@media screen and (max-width : 900px) {
    main {
        display: block;
    }
}